<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5" *ngIf="member">
  <div class="col" *ngFor="let photo of member.photos">
    <img [src]="photo.url" alt="photo of user" class="img-thumbnail mb-1" />

    <div class="text-center">
      <button
        [disabled]="photo.isMain"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
        (click)="setMainPhoto(photo)"
        class="btn btn-sm mx-1"
      >
        Main
      </button>
      <button
        (click)="deletePhoto(photo)"
        [disabled]="photo.isMain"
        class="btn btn-sm btn-danger mx-1"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button
      uploadButton
      [uploadComplete]="onComplete"
      [uploadOptions]="options"
      [uploader]="uploader"
      class="btn btn-outline-primary btn-lg"
    >
      Upload a image...
    </button>
  </div>
</div>
